useDynLib(RCSS)

import(methods)

if(FALSE) 
exportClasses(
CSSAttributeSelector,
CSSClassSelector,
CSSComplexSelector,
CSSDeclaration,
CSSIDSelector,
CSSPseudoSelector,
CSSQualifiedSelector,
CSSRGB,
CSSSelectionEngine
)

#CSSRuleset,              

exportClass(CSSStatement)

exportClass(CSSStyleSheet)
#CSSSimpleSelector,


exportClasses(
AT_RULE,              
FONT_FACE_RULE,
IMPORT_RULE,
MEDIA_RULE,
PAGE_RULE,
RULESET,
CHARSET_RULE)

#ExternalRef
#    AttributeMatchWay,

export(getCSSRules)
export(readCSS)

export(asCSSObject)
exportMethods(asCSSObject)

exportMethods("names")

exportMethods(sapply)
exportMethods(lapply)


export(getPos)

export(getDeclaration)
exportMethods(getDeclaration)
